<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <script src="assets/vue.js"></script>
    <link rel="stylesheet" href="assets/miniframework.css" />
    <link rel="stylesheet" href="assets/main.css" />
</head>
<body>


<div id="app">
    <div class="row">

        <div class="col-3">
            <div class="card">
                <h1>Modulos</h1>
                <ul>
                    <li :class="{'selected': index==moduleSelected}" v-for="(module,index) in modules" :key="index" @click="moduleSelected=index">{{module.name}}</li>
                </ul>
            </div>
        </div>

        <div class="col-5">
            <div class="card" v-if="moduleSelected !== null">
                <h3>Add property to <span class="module">{{modules[moduleSelected].name}}</span></h3>

                <form-property @apply="apply" :p="getPropSelected"></form-property>

            </div>
            <div class="card" v-else>
                Seleccionar o crear un modulo
            </div>
        </div>

        <div class="col-4">
            <div class="card" v-if="moduleSelected !== null">
                <h3><span class="module">{{modules[moduleSelected].name}}</span> Properties </h3>
                <ul>
                    <li :class="{'selected': index==propSelected}" v-for="(prop,index) in modules[moduleSelected].properties" :key="index" @click="propSelected=index">{{prop.name}}</li>
                </ul>
                <button @click="propSelected=null">New</button>
            </div>
        </div>

    </div>
</div>


<script src="formProperty.js"></script>
<script src="app.js"></script>
</body>
</html>
