<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <script src="assets/vue.js"></script>

    <link rel="stylesheet" href="assets/bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="assets/main.css"/>
</head>
<body>


<div id="app">
    <navbar @save="save" @generate="generate"></navbar>
    <div class="container-fluid">
        <div class="row">

            <div class="col-3">
                <div class="p-1">
                    <module-card @update-module-name="updateModuleName" @load-demo-module="loadDemoModule"
                                 @load-module="loadModule"
                                 :name="moduleName"></module-card>
                </div>

                <div class="p-1">
                    <entity-card :entities="models" @selected-entity="selectModel" @create-entity="createModel" @update-entity="editModel" @delete-entity="deleteModel"></entity-card>
                </div>
            </div>

            <!-- LIST PROPERTIES-->
            <div class="col-3">
                <div class="p-1">
                    <div class="card" v-if="modelselected !== null">
                        <div class="card-body">
                            <h3><span class="module">{{models[modelselected].name}}</span> Properties </h3>
                            <ul>
                                <li :class="{'selected': index==propSelected}"
                                    v-for="(prop,index) in models[modelselected].properties" :key="index"
                                    @click="propSelected=index">{{prop.name}}
                                </li>
                            </ul>
                            <button @click="propSelected=null">New</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- FORM PROPERTIES-->
            <div class="col-6">
                <div class="p-1">
                    <div class="card" v-if="modelselected !== null">
                        <div class="card-body">
                            <h3>Add property to <span class="module">{{models[modelselected].name}}</span></h3>
                            <alert v-if="alert" :message="alert" @end="alert=null"></alert>
                            <form-property @new="propSelected=null" @apply="apply" :p="getPropSelected"></form-property>
                        </div>
                    </div>
                    <div class="card" v-else>
                        <div class="card-body">
                            Seleccionar o crear un modulo
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="assets/bootstrap/bootstrap.min.js"></script>-->
<script src="components/FormName.js"></script>
<script src="components/ModuleCard.js"></script>
<script src="components/EntityCard.js"></script>
<script src="components/alert.js"></script>
<script src="components/formModel.js"></script>
<script src="components/FormProperty.js"></script>
<script src="components/Navbar.js"></script>

<script src="app.js"></script>
</body>
</html>
