<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generator</title>
    <script src="assets/vue.js"></script>
    <link rel="stylesheet" href="assets/miniframework.css" />
    <link rel="stylesheet" href="assets/main.css" />
</head>
<body>


<div id="app">
    <div class="row">

        <div class="col-4">
            <div class="card">
                <h3>MODULE: <span class="module">{{moduleName}}</span></h3>
                <template v-if="moduleEdit">
                    <form-model @model="editModule" :name="moduleName" @close="moduleEdit= null"></form-model>
                </template>
                <template v-else>
                    <button @click="moduleEdit=true">edit</button>
                    <button class="float-right" @click="loadSource">load</button>
                </template>
            </div>
            <div class="card">
                Api Status: {{apiStatus}}
                <button class="float-right" @click="saveSource">Save</button>
            </div>
            <div class="card">
                <h3>Models</h3>
                <ul>
                    <li :class="{'selected': index==modelselected}" v-for="(model,index) in models" :key="index" @click="modelselected=index">

                        <template v-if="modeledit == index">
                            <form-model @model="editModel" :name="model.name" @close="modeledit= null"></form-model>
                        </template>

                        <template v-else>
                            {{model.name}}
                            <button class="float-right edit" @click="modeledit=index">edit</button>
                        </template>

                    </li>
                </ul>
                <button @click="showNewModel=true">New</button>
                <div v-if="showNewModel">
                    <form-model @model="addModel" @close="showNewModel= false"></form-model>
                </div>
            </div>

        </div>

       <!-- FORM PROPERTIES-->
        <div class="col-4">
            <div class="card" v-if="modelselected !== null">
                <h3>Add property to <span class="module">{{models[modelselected].name}}</span></h3>
                <alert v-if="alert" :message="alert" @end="alert=null"></alert>
                <form-property @new="propSelected=null" @apply="apply" :p="getPropSelected"></form-property>

            </div>
            <div class="card" v-else>
                Seleccionar o crear un modulo
            </div>
        </div>

        <!-- LIST PROPERTIES-->
        <div class="col-4">
            <div class="card" v-if="modelselected !== null">
                <h3><span class="module">{{models[modelselected].name}}</span> Properties </h3>
                <ul>
                    <li :class="{'selected': index==propSelected}" v-for="(prop,index) in models[modelselected].properties" :key="index" @click="propSelected=index">{{prop.name}}</li>
                </ul>
                <button @click="propSelected=null">New</button>
            </div>
        </div>

    </div>
</div>


<script src="alert.js"></script>
<script src="formModel.js"></script>
<script src="formProperty.js"></script>
<script src="app.js"></script>
</body>
</html>
